/** Background styling and header styling **/

body {
    font-family: Roboto;
    margin: 0;

}

.header, .container1 {
    display: flex;
    background-color: rgb(31, 41, 55);
    color: white;
    justify-content: space-evenly;
    gap: 450px;
    align-items: center;
}

.header-logo {
    font-weight: bolder;
}

ul {
    display: flex;
    gap: 25px;
    list-style-type: none;
}

/** First container styling **/

.container1 {
    padding: 100px;
    gap: 250px;
}

.front-text {
    font-weight: bolder;
    font-size: 45px;
}

button {
    background-color: rgb(59, 130, 246);
    color: white;
    border-radius: 10px;
    border: none;
    padding: 5px 20px;
    font-size: 20px;
    font-family: Roboto;
}

/** Second container styling **/

.container2-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.container2-main {
    display: flex;
    justify-content: space-evenly;
}

.randomInfo {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}