/** Background styling and header styling **/

body {
    font-family: Roboto;
    margin: 0;

}

.header, .container1 {
    display: flex;
    background-color: rgb(31, 41, 55);
    color: white;
    justify-content: space-evenly;
    gap: 450px;
    align-items: center;
}

h2 {
    font-weight: bolder;
}

ul {
    display: flex;
    gap: 25px;
    list-style-type: none;
}

/** First container styling **/

.container1 {
    padding: 100px;
    gap: 250px;
}

h1 {
    font-weight: bolder;
    font-size: 45px;
}